// @file
// Styles for the site name.

.site-name {
  @include image-replace(210px, 70px);
  @include svg-background('logo-pwc-short');
  background-position: -8px center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;

  .header & {
    @include breakpoint(1000px) {
      @include image-replace(460px, 100px);
      @include svg-background('logo-pwc-long');
      background-position: -10px center;
    }
  }

  .footer & {
    @include svg-background('logo-pwc-short');
    bottom: 15px;
    position: absolute;

    @include breakpoint(1000px) {
      @include image-replace(270px, 84px);
      @include svg-background('logo-pwc-footer');
      background-position: 0 center;
    }
  }

}
