<h6>Ordered List</h6>
<ol>
  <li>Ordered list item</li>
  <li>Another ordered list item
    <ol>
      <li>Nested list item one</li>
      <li>Another nested list item</li>
    </ol>
  </li>
  <li>Short list item</li>
</ol>

<h6>Unordered List</h6>
<ul>
  <li>Unordered list item</li>
  <li>Another unordered list item
    <ul>
      <li>Nested list item one</li>
      <li>Another nested list item</li>
    </ul>
  </li>
  <li>Short list item</li>
</ul>

<h6>Definition</h6>
<dl>
  <dt>Definition List</dt>
  <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
  <dt>This is a term.</dt>
  <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
  <dt>Here is another term.</dt>
  <dd>And it gets a definition too, which is this line.</dd>
  <dt>Here is a term that shares a definition with the term below.</dt>
  <dt>Here is a term that shares a definition with the term above.</dt>
  <dd>And they both get the same definition too, which is this line.</dd>
</dl>
