// @file
// Color variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$color-body: #fff;
$color-gradient-dark: rgba(0, 0, 0, 0.1);
$color-gradient-light: rgba(255, 255, 255, 0.1);
$color-link: #0071bc;
$color-link-hover: #205493;
$color-link-visited: #4c2c92;
$color-selection-background: #dce4ef;
$color-selection-foreground: #212121;
$color-text-primary: #212121;
$color-text-secondary: #5b616b;

// Whites
$color-white-light: #e6e6e6;
$color-white: #ffffff;

// Grays
$color-gray-lighter: #e4e7ee;
$color-gray-light: #c2c9d4;
$color-gray: #7f919e;
$color-gray-dark: #546673;
$color-gray-darker: #353a3d;

// Branding colors
$color-midnight: #003a54;
$color-marine: #004259;
$color-aqua: #54c5d0;
$color-orange: #f67a0c;
$color-orange-dark: #c86207;
