<main id="main" class="main" role="main" tabindex="-1">
  {% block main %}
    {% include "components-hero" %}
    <section class="section">
      <div class="l-constrain">
        <div class="section__inner">
          <h2 class="section__title">Featured</h2>
          <div class="l-grid l-grid--cards">
            {% include "components-card" %}
            {% include "components-card" %}
            {% include "components-card" %}
            {% include "components-card" %}
          </div>
        </div>
      </div>
    </section>
    <section class="section section--alt">
      <div class="l-constrain">
        <div class="l-grid l-grid--50">
          <div class="section__col">
            <h2 class="section__title">Updates</h2>
            {% include "components-listing" %}
            {% include "components-listing" %}
            {% include "components-listing" %}
            {% include "components-listing" %}
          </div>
          <div class="section__col">
            <h2 class="section__title">New Species</h2>
            {% include "components-teaser" %}
            {% include "components-teaser" %}
            {% include "components-teaser" %}
            {% include "components-teaser" %}
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</main>
