<footer class="footer" role="contentinfo">
  <div class="footer__top">
    <div class="l-constrain">
      {% block top %}
        {% include "components-site-name" %}
      {% endblock %}
     </div>
  </div>
  <div class="footer__bottom">
    <div class="l-constrain">
      {% block bottom %}
        {% include "components-nav-footer" %}
      {% endblock %}
    </div>
  </div>
</footer>
