// @file
// Styles for the main menu.

.nav-main {

  .nav--menu {
    background: rgba(84, 197, 208, 0.75);
    display: none;
    height: 100vh;
    left: 0;
    margin: 0;
    min-height: 100vh;
    padding: 1em;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 10;

    @include breakpoint(800px) {
      align-items: center;
      background: transparent;
      display: flex;
      height: inherit;
      min-height: inherit;
      padding: 0;
      position: relative;
      top: 0;
    }

    .nav__item {

      @include breakpoint(800px) {
        padding-right: 24px;
        position: relative;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .nav__link {
      border-bottom: 3px solid transparent;
      color: $color-midnight;
      font-family: $header-font-family;
      font-size: em(24px);
      text-decoration: none;
      text-transform: uppercase;

      &:focus,
      &:hover {
        border-color: $color-midnight;
      }

      @include breakpoint(800px) {
        color: $color-white;

        &:focus,
        &:hover {
          border-color: $color-white;
        }
      }
    }
  }
}

.nav__trigger {
  left: -9999px;
  position: absolute;
  top: -9999px;

  &:checked ~ ul {
  	display:block;

    @include breakpoint(800px) {
      display: flex;
      flex-direction: row;
    }
	}
}

.nav__label {
  background: $color-orange;
  color: $color-white;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  line-height: 3em;
  margin: 0;
  min-height: 70px;
  padding: .45em;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;

  @include breakpoint(800px) {
    display: none;
  }

}

.nav__link--button {

  @include breakpoint(800px) {
    @include button();
    background-color: $color-orange;
    border: 2px solid $color-white !important;
    border-radius: 0;
    font-weight: 600;
    margin-bottom: 0;

    &:focus,
    &:hover {
      background-color: $color-orange-dark;
    }
  }
}
