<nav class="nav-footer" role="navigation">
  <h2 class="visually-hidden">Footer menu</h2>
  {% spaceless %}
  {% block content %}
  <ul class="nav nav--menu">
    <li class="nav__item"><a class="nav__link" href="#">&copy; 2017 PACIFIC WHALE CONSERVANCY</a></li>
    <li class="nav__item"><a class="nav__link" href="#"> All rights reserved</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Privacy Policy</a></li>
  </ul>
  {% endblock %}
  {% endspaceless %}
</nav>
