<footer class="footer" role="contentinfo">
  <div class="footer__top">
    <div class="l-constrain">
       {% include "components-site-name" %}
     </div>
  </div>
  <div class="footer__bottom">
    <div class="l-constrain">
      {% include "components-nav-footer" %}
    </div>
  </div>
</footer>
