<div class="hero" style="background-image: url({{ hero_image }});">
  <div class="l-constrain">
    <div class="hero__content">
      <h1 class="hero__title">{{ hero_title }}</h1>
      <div class="hero__text">{{ hero_text|raw }}</div>
      {% if has_button %}
        <div class="hero__call-to-action">
          {% block button %}
            {% include "components-button"
              with {
                button_modifier: button_modifier,
                button_label: button_label,
                button_url: button_url
              }
            %}
          {% endblock %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
