<article class="listing" role="article">
  <div class="listing__date">{{ content.field_published|field_value }}</div>
  <h2 class="listing__heading"><a href="{{ url }}">{{ content.title|field_value }}</a></h2>
</article>
