{% include "layouts-header-region" %}
{% include "layouts-navigation-region" %}
{% include "layouts-preface-region" %}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">
    <div class="l-constrain">

      {% include "components-article" %}

    </div>

  </div>
</main>

{% include "layouts-postscript-region" %}
{% include "layouts-footer-region" %}
