<footer class="footer" role="contentinfo">
  <div class="footer__top">
    <div class="l-constrain">
       {{ drupal_block('pwc_site_branding_footer') }}
     </div>
  </div>
  <div class="footer__bottom">
    <div class="l-constrain">
      {{ drupal_block('pwc_footer') }}
    </div>
  </div>
</footer>
