<section class="section">
  <div class="l-constrain">
    <div class="section__inner">
      <h2 class="section__title">{{ content.field_heading|field_value }}</h2>
      <div class="l-grid l-grid--cards">
        {{ content.field_species|field_value }}
      </div>
    </div>
  </div>
</section>
