<header class="header" role="banner">
  <div class="header__grid l-constrain">
    {% block header %}
      {% include "components-site-name" %}
      {% include "components-nav-main" %}
    {% endblock %}
  </div>
</header>
